@import '_reset.scss';

#wrapper {
    width: 100%;
    bottom: 0;
    background-color: green;
    height: 100vh;
    div {
        width: 20px;
        height: 20px;
        background-color: red;
        position: absolute;
    }
    #playerToon2 {
        top: calc(50% - 10px);
        left: calc(50% - 10px);
    }
}